<div class="footer">
        <ul class="cotainer_redes mx-5">
            <li class="red_social"><a class="text_red" href="">Facebook</a></li>
            <li class="red_social"><a class="text_red" href="">Youtube</a></li>
            <li class="red_social"><a class="text_red" href="">Instagram</a></li>
            <li class="red_social"><a class="text_red" href="">Tiktok</a></li>
        </ul>
        <div class="mx-5">
            <h1 class="sanandrestlalamac">SAN ANDRES TLALAMAC</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15092.92380930809!2d-98.82100911730869!3d18.965405065460832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce4071b45713df%3A0xcb5991c1f1073b81!2s56976%20San%20Andr%C3%A9s%20Tlalamac%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1783557291788!5m2!1ses-419!2smx" 
                    width="700" 
                    height="150" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="strict-origin-when-cross-origin">
                </iframe>
        </div>
        <img class="mx-5" src="images/vino.png" alt="..." width="200px">
        
    </div>